<div class="blog-post-1 contact">
  <div class="post-text">
    <h3>Send me a message</h3>
    <p>Lorem ipsum dolor sit amet, utroque sapientem cu per. In mei commodo prompta, sit at atomorum incorrupte. Omnium prodesset cu nam, vim dictas omnesque et. Te utinam instructior est, sit disputando adversarium te. Tale consul disputando mei ut, ex blandit euripidis eos, eu nam brute.</p>
    <div class="leave-a-reply">
      <form>
        <div class="email">
          <label for="email-input">Email*</label>
          <input id="email-input" type="email">
        </div>
        <div class="name">
          <label for="name-input">Name*</label>
          <input id="name-input" type="text">
        </div>
        <div class="website">
          <label for="website-input">Website</label>
          <input id="website-input" type="text">
        </div>
        <div class="message">
          <label for="message-input">Message</label>
          <textarea id="message-input"></textarea>
        </div>
        <div class="submit">
          <input type="submit" value="submit">
        </div>
      </form>
    </div>
  </div>
</div>
